@model ALlyHub.Models.RegisterModel

@{
    ViewBag.Title = "Edit_Profile";
}

<h2>Edit Profile</h2>

<link rel="stylesheet" href="~/Content/Profile.css">
<link rel="stylesheet" href="~/Content/Login.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/7.2.96/css/materialdesignicons.min.css" integrity="sha512-LX0YV/MWBEn2dwXCYgQHrpa9HJkwB+S+bnBpifSOTO1No27TqNMKYoAn6ff2FBh03THAzAiiCwQ+aPX+/Qt/Ow==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="row">
    <div class="col-xl-8">
        <div class="card">
            <div class="card-body pb-0">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <div class="text-center border-end">
                            <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-fluid avatar-xxl rounded-circle" alt="">
                            <h4 class="text-primary font-size-20 mt-3 mb-2">Your Name</h4>
                            <h5 class="text-muted font-size-13 mb-0">Web Designer</h5>
                        </div>
                    </div><!-- end col -->
                    <div class="col-md-9">
                        <div class="ms-3">
                            <div>
                                <h4 class="card-title mb-2">Biography</h4>
                                <p class="mb-0 text-muted">
                                    This is ---- ----. I am a CSE Undergrad.
                                </p>
                            </div>
                            <div class="row my-4">
                                <div class="col-md-12">
                                    <div>
                                        <p class="text-muted mb-2 fw-medium">
                                            <i class="mdi mdi-email-outline me-2"></i>abcd@probic.com
                                        </p>
                                        <p class="text-muted fw-medium mb-0">
                                            <i class="mdi mdi-phone-in-talk-outline me-2"></i>+880XXXXXXXXXX
                                        </p>
                                    </div>
                                </div><!-- end col -->
                            </div><!-- end row -->

                            <ul class="nav nav-tabs nav-tabs-custom border-bottom-0 mt-3 nav-justfied" role="tablist">
                                <li>@Html.ActionLink("Profile", "Profile", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                                <li>@Html.ActionLink("Review", "Task", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                                <li>@Html.ActionLink("Team", "Team", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link px-4 active" data-bs-toggle="tab" href="#tasks-tab" role="tab" aria-selected="false" tabindex="-1">
                                        <span class="d-block d-sm-none"><i class="mdi mdi-menu-open"></i></span>
                                        <span class="d-none d-sm-block">Edit Profile</span>
                                    </a>
                                </li><!-- end li -->


                            </ul><!-- end ul -->
                        </div>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end card body -->
        </div><!-- end card -->


        <!-------------------Edit Body------------->
        <div class="card">
    <div class="tab-content p-4">
        <div class="tab-pane active show" id="projects-tab" role="tabpanel">
            <div class="d-flex align-items-center">
                <div class="flex-1">
                    <h4 class="card-title mb-4">Edit Profile</h4>
                </div>
            </div>

            <div class="row" id="all-projects">
                <section class="py-3 py-md-5 py-xl-8">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12 col-lg-10 col-xl-8">
                                <div class="row gy-5 justify-content-center">
                                    <div class="col-12 col-lg-5">
                                        @using (Html.BeginForm("Register", "Home", FormMethod.Post))
                                        {
                                            @Html.AntiForgeryToken()
                                            <div class="row gy-3 overflow-hidden">
                                                <div class="col-12">
                                                    <div class="form-floating mb-3">
                                                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control border-0 border-bottom rounded-0", placeholder = "First Name", required = "required" })
                                                        @Html.LabelFor(m => m.FirstName, new { @class = "form-label" })
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-floating mb-3">
                                                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control border-0 border-bottom rounded-0", placeholder = "Last Name", required = "required" })
                                                        @Html.LabelFor(m => m.LastName, new { @class = "form-label" })
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-floating mb-3">
                                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control border-0 border-bottom rounded-0", placeholder = "name@example.com", required = "required" })
                                                        @Html.LabelFor(m => m.Email, new { @class = "form-label" })
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-floating mb-3">
                                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control border-0 border-bottom rounded-0", placeholder = "Password", required = "required" })
                                                        @Html.LabelFor(m => m.Password, new { @class = "form-label" })
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-floating mb-3">
                                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control border-0 border-bottom rounded-0", placeholder = "Password", required = "required" })
                                                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "form-label" })
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-floating mb-3">
                                                        @Html.TextBoxFor(m => m.Address, new { @class = "form-control border-0 border-bottom rounded-0", placeholder = "Password", required = "required" })
                                                        @Html.LabelFor(m => m.Address, new { @class = "form-label" })
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-floating mb-3">
                                                        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control border-0 border-bottom rounded-0", placeholder = "Password", required = "required" })
                                                        @Html.LabelFor(m => m.Phone, new { @class = "form-label" })
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-floating mb-3">
                                                        @Html.DropDownListFor(m => m.UserType, new SelectList(new[] {
                                                                new { Value = "Client", Text = "I want to Hire" },
                                                                new { Value = "Developer", Text = "Work as a Freelancer" }
                                                            }, "Value", "Text"), new { @class = "form-control border-0 border-bottom rounded-0", @required = "required" })
                                                        @Html.LabelFor(m => m.UserType, new { @class = "form-label" })
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="d-grid">
                                                        <button class="btn btn-lg btn-dark rounded-0 fs-6 logBtn" type="submit">Save Changes</button>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }
            </div><!-- end row -->
        </div><!-- end tab pane -->
    </div>
</div><!-- end card -->

    </div><!-- end col -->
    <!-------------------About------------->
    <div class="col-xl-4">
        <div class="card">
            <div class="card-body">
                <div class="pb-2">
                    <h4 class="card-title mb-3">Abouts</h4>
                    <p>
                        Hi I'm ----, a CSE undergrad.
                    </p>
                    <ul class="ps-3 mb-0">
                        <li>Currently in 3rd year</li>
                        <li>My interests includes Software Engineering,.....</li>
                    </ul>
                    <!-- end ul -->
                </div>
                <hr>
                <div class="pt-2">
                    <h4 class="card-title mb-4">My Skill</h4>
                    <div class="d-flex gap-2 flex-wrap">
                        <span class="badge badge-soft-secondary p-2">HTML</span>
                        <span class="badge badge-soft-secondary p-2">Bootstrap</span>
                        <span class="badge badge-soft-secondary p-2">Scss</span>
                        <span class="badge badge-soft-secondary p-2">Javascript</span>
                        <span class="badge badge-soft-secondary p-2">React</span>
                        <span class="badge badge-soft-secondary p-2">Angular</span>
                    </div>
                </div>
            </div><!-- end cardbody -->
        </div><!-- end card -->
        <!-------------------Personal Details------------->
        <div class="card">
            <div class="card-body">
                <div>
                    <h4 class="card-title mb-4">Personal Details</h4>
                    <div class="table-responsive">
                        <table class="table table-bordered mb-0">
                            <tbody>
                                <tr>
                                    <th scope="row">Name</th>
                                    <td>---- ----</td>
                                </tr><!-- end tr -->
                                <tr>
                                    <th scope="row">Location</th>
                                    <td>Dhaka, Bangladesh</td>
                                </tr><!-- end tr -->
                                <tr>
                                    <th scope="row">Institute</th>
                                    <td>AUST</td>
                                </tr><!-- end tr -->
                                <tr>
                                    <th scope="row">Website</th>
                                    <td>abc12@google.com</td>
                                </tr><!-- end tr -->
                            </tbody><!-- end tbody -->
                        </table><!-- end table -->
                    </div>
                </div>
            </div><!-- end card body -->
        </div><!-- end card -->
        <!-------------------Work Experience------------->
        <div class="card">
            <div class="card-body">
                <div>
                    <h4 class="card-title mb-4">Work Experince</h4>
                    <ul class="list-unstyled work-activity mb-0">
                        <li class="work-item" data-date="2020-21">
                            <h6 class="lh-base mb-0">ABCD Company</h6>
                            <p class="font-size-13 mb-2">Web Designer, Part Time</p>
                            <p>
                                Since May, 2022 - April, 2022.
                            </p>
                        </li>
                        <li class="work-item" data-date="2019-20">
                            <h6 class="lh-base mb-0">XYZ Company</h6>
                            <p class="font-size-13 mb-2">Graphic Designer, Full Time</p>
                            <p class="mb-0">
                                Since June, 2022 - October 2023.
                            </p>
                        </li>
                    </ul><!-- end ul -->
                </div>
            </div><!-- end card-body -->
        </div><!-- end card -->
    </div><!-- end col -->
</div>
</div>
