
@{
    ViewBag.Title = "FindTalent";
}
@model IEnumerable<ALlyHub.Models.FindTalentModel>

<link rel="stylesheet" href="~/Content/FintTalent.css" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<h2 class="title text-center">Find Talented Developers</h2>

<div class="content">
    <div class="container">
        <!-- end row -->
        <div class="row">
            @foreach (var findTalent in Model)
            {
                <div class="col-lg-4">
                    <div class="text-center card-box">
                        <div class="member-card pt-2 pb-2">
                            <div class="thumb-lg member-thumb mx-auto"><img src="~/Images/@findTalent.UserPhoto" class="rounded-circle img-thumbnail" alt="profile-image"></div>
                            <div class="">
                                <h4>@findTalent.FirstName @findTalent.LastName</h4>
                                <p class="text-muted"> @findTalent.AreaofExpertise</p>
                            </div>
                            <ul class="social-links list-inline">
                                <li class="list-inline-item"><a title="" target="_blank" data-placement="top" data-toggle="tooltip" class="tooltips" href="@findTalent.Facebook" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                <li class="list-inline-item"><a title="" target="_blank" data-placement="top" data-toggle="tooltip" class="tooltips" href="@findTalent.LinkedIn" data-original-title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                                <li class="list-inline-item"><a title="" target="_blank" data-placement="top" data-toggle="tooltip" class="tooltips" href="@findTalent.PortfolioLink" data-original-title="Globe"><i class="fa fa-globe"></i></a></li>
                            </ul>
                            <a href="@Url.Action("TalentDetails", "Home", new { DeveloperID = findTalent.DeveloperID })" class="btn mt-3 btn-rounded waves-effect w-md waves-light">View Profile</a>
                            <div class="mt-4">
                                <div class="row">
                                    <div class="col-4">
                                        <div class="mt-3">
                                            <h4>4.6/5</h4>
                                            <p class="mb-0 text-muted">Rating</p>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="mt-3">
                                            <h4>6952</h4>
                                            <p class="mb-0 text-muted">Total Income</p>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="mt-3">
                                            <h4>1125</h4>
                                            <p class="mb-0 text-muted">Total Projects</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <!-- end col -->

        </div>

    </div>
    <!-- container -->
</div>