
@{
    ViewBag.Title = Model.FirstName;
    ViewBag.Subtitle = "View Profile";
}
@model ALlyHub.Models.ProfileModel

<link rel="stylesheet" href="~/Content/Profile.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/7.2.96/css/materialdesignicons.min.css" integrity="sha512-LX0YV/MWBEn2dwXCYgQHrpa9HJkwB+S+bnBpifSOTO1No27TqNMKYoAn6ff2FBh03THAzAiiCwQ+aPX+/Qt/Ow==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="row">
    <div class="col-xl-8">
        <div class="card">
            <div class="card-body pb-0">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <div class="text-center border-end">
                            <img src="~/Images/@Model.UserPhoto"
                                 class="img-fluid avatar-xxl rounded-circle" alt="" />
                            <h4 class="name">
                                @Model.FirstName @Model.LastName
                            </h4>
                            <h5 class="text-muted designation">
                                @if ((string)Session["UserType"] == "Developer")
                                {
                                    @Model.AreaofExpertise
                                }
                                else if ((string)Session["UserType"] == "Client")
                                {
                                    @Model.CompanyName
                                }
                            </h5>
                        </div>
                    </div>
                    <!-- end col -->
                    <div class="col-md-9">
                        <div class="ms-3">
                            <div>
                                <h4 class="card-title mb-2">Biography</h4>
                                <p class="mb-0 text-muted">
                                    @if ((string)Session["UserType"] == "Client")
                                    {
                                        @Model.ClientDescription
                                    }
                                    else if ((string)Session["UserType"] == "Developer")
                                    {
                                        @Model.DevDescription
                                    }

                                </p>
                            </div>
                            <div class="row my-4">
                                <div class="col-md-12">
                                    <div>
                                        <p class="text-muted mb-2 fw-medium">
                                            <i class="mdi mdi-email-outline me-2"></i>@Model.UserEmail
                                        </p>
                                        <p class="text-muted fw-medium mb-0">
                                            <i class="mdi mdi-phone-in-talk-outline me-2"></i>@Model.UserPhone
                                        </p>
                                    </div>
                                </div>
                                <!-- end col -->
                            </div>
                            <!-- end row -->

                            <ul class="nav nav-tabs nav-tabs-custom border-bottom-0 mt-3 nav-justfied" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link px-4" id="projectBtn" href="">
                                        <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                                        <span class="d-none d-sm-block">Projects</span>
                                    </a>
                                </li>
                                <!-- end li -->
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link px-4" id="reviewsBtn" href="">
                                        <span class="d-block d-sm-none"><i class="mdi mdi-menu-open"></i></span>
                                        <span class="d-none d-sm-block">Reviews</span>
                                    </a>
                                </li>
                                <!-- end li -->
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link px-4" id="editProfileBtn" href=""
                                       aria-selected="true">
                                        <span class="d-block d-sm-none"><i class="mdi mdi-account-group-outline"></i></span>
                                        <span class="d-none d-sm-block">Edit Profile</span>
                                    </a>
                                </li>
                                <!-- end li -->
                            </ul>
                            <!-- end ul -->
                        </div>
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->



        <div class="card hideTab" id="projects">
            <div class="tab-content p-4">
                <div class="tab-pane active" id="team-tab">
                    <h4 class="card-title mb-4">Projects</h4>
                    <div class="row">
                        @if (Model.Projects != null && Model.Projects.Any())
                        {
                            foreach (var project in Model.Projects)
                            {
                                <div class="col-xl-4 col-md-6">
                                    <div class="card projectCard">
                                        <div class="card-body">
                                            <div class="d-flex mb-4">
                                                <div class="flex-grow-1 align-items-start">
                                                    <a href="@Url.Action("ProjectDetails", "Home", new { projectId = project.ProjectID })"><h4>@project.ProjectTitle</h4></a>
                                                </div>
                                            </div>
                                            <div>
                                                <h6 class="mb-1 font-size-14">@project.Status</h6>
                                                <h6 class="mb-1 font-size-14">@project.HandshakeDate</h6>
                                             
                                               <p class="text-muted font-size-13 mb-0">@project.Duration</p>
                                            </div>
                                        </div>
                                        <!-- end card-body -->
                                    </div>
                                    <!-- end card -->
                                </div>
                                <!-- end col -->
                            }
                        }
                        else
                        {
                            <p>No projects posted yet.</p>
                        }
                    </div>
                    <!-- end row -->
                </div>
                <!-- end tab pane -->
            </div>
        </div>


        <!-- end card -->
        <div class="card hideTab" id="reviews">
            <div class="tab-content p-4">
                <div class="tab-pane active" id="team-tab">
                    <h4 class="card-title mb-4">Reviews</h4>
                    <div class="row">
                        <div class="col-xl-4 col-md-6" id="team-1">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex mb-4">
                                        <div class="flex-grow-1 align-items-start">
                                            Project Title
                                        </div>

                                    </div>
                                    <div>
                                        <h5 class="mb-1 font-size-17">Short Description</h5>
                                        <p class="text-muted font-size-13 mb-0">Date</p>
                                    </div>
                                </div>
                                <!-- end card-body -->
                            </div>
                            <!-- end card -->
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->
                </div>
                <!-- end tab pane -->
            </div>
        </div>
        <!-- end card -->
        <div class="card hideTab" id="editProfile" style="border:0px solid;">
            <h2 class="text-center">Personal Info</h2>
            @using (Html.BeginForm("Profile", "Home", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(m => m.UserId)
                <div class="row mt-3">
                    <div class="col-md-6 mt-2">
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "First name", name = "FirstName" })
                    </div>
                    <div class="col-md-6 mt-2">
                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Last name", name = "LastName" })
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6 mt-2">
                        @Html.TextBoxFor(m => m.UserEmail, new { @class = "form-control", placeholder = "Email" })
                    </div>
                    <div class="col-md-6 mt-2">
                        @Html.TextBoxFor(m => m.UserPhone, new { @class = "form-control", placeholder = "Phone" })
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        @Html.TextBoxFor(m => m.UserAddress, new { @class = "form-control", placeholder = "Address" })
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6 mt-2">
                        @Html.TextBoxFor(m => m.Country, new { @class = "form-control", placeholder = "Enter Your Country" })
                    </div>
                    <div class="col-md-6 mt-2">
                        @Html.TextBoxFor(m => m.Languagee, new { @class = "form-control", placeholder = "Enter Your Language" })
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6 mt-2">
                        @Html.TextBoxFor(m => m.DOB, "{0:dd/MM/yyyy}", new { @class = "form-control", type = "date", placeholder = "Enter Your Date of Birth" })
                    </div>
                    <div class="col-md-6 mt-2">
                        @Html.TextBox("Photo", null, new { type = "file", @class = "form-control", placeholder = "Select Photo", accept = "image/png,image/jpg,image/jpeg" })

                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <button type="submit" class="btn btn-lg rounded-0 fs-6 logBtn" style="width: 100%;">Update</button>
                    </div>
                </div>
            }


            <h2 class="text-center mt-5">Specialized Info</h2>
            @using (Html.BeginForm("ActionName", "ControllerName", FormMethod.Post, new { @class = "form-horizontal mt-5" }))
            {
                <div class="row">
                    <div class="col-md-6 mt-2">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fa-brands fa-facebook" style="font-size: 20px; padding: 5px;"></i>
                                </div>
                            </div>
                            @Html.TextBoxFor(m => m.Facebook, new { @class = "form-control", placeholder = "Facebook Url" })
                        </div>
                    </div>
                    <div class="col-md-6 mt-2">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fa-brands fa-linkedin" style="font-size: 20px; padding: 5px;"></i>
                                </div>
                            </div>
                            @Html.TextBoxFor(m => m.LinkedIn, new { @class = "form-control", placeholder = "Linkedin Url" })
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        @Html.TextBoxFor(m => m.AreaofExpertise, new { @class = "form-control", placeholder = "Title" })
                    </div>
                </div>
                @Html.TextAreaFor(m => m.ClientDescription, 8, 80, new { @class = "form-control mt-3 mb-3", placeholder = "Enter Your Biography" })
                <div class="custom-select">
                    <div class="select-box">
                        <input type="text" class="tags_input" name="tags" hidden />
                        <div class="selected-options">
                            <span class="placeholder">Select the tags</span>
                        </div>
                        <div class="arrow">
                            <i class="fa fa-angle-down"></i>
                        </div>
                    </div>
                    <div class="options">
                        <div class="option-search-tags">
                            <input type="text" class="search-tags" placeholder="Search tags....." />
                            <button type="button" class="clear">Clear</button>
                        </div>
                        <div class="option" data-value="HTML">HTML</div>
                        <div class="option" data-value="CSS">CSS</div>
                        <div class="option" data-value="JavaScript">JavaScript</div>
                        <div class="option" data-value="PHP">PHP</div>
                        <div class="option" data-value="Python">Python</div>
                        <div class="option" data-value="Java">Java</div>
                        <div class="option" data-value="React">React</div>
                        <div class="option" data-value="Django">Django</div>
                        <div class="option" data-value="ASP">ASP .NET</div>
                        <div class="no-result-message" style="display: none;">No Result Message</div>
                    </div>
                    <span class="tag_error_msg error"></span>
                </div>
                <div class="row mt-3 mb-3">
                    <div class="col">
                        <button type="submit" class="btn btn-lg rounded-0 fs-6 logBtn" style="width: 100%;">Update</button>
                    </div>
                </div>
            }

        </div>
        <!-- end card -->
    </div>
    <!-- end col -->

    <div class="col-xl-4">
        <div class="card">
            <div class="card-body">
                <div class="pb-2">
                    <h4 class="card-title mb-3">About</h4>
                    <p>
                    </p>
                    <ul class="ps-3 mb-0" style="font-family: 'Kanit', sans-serif; font-weight:300">
                        <li>Country : @Model.Country</li>
                        <li>Location : @Model.UserAddress</li>
                        <li>
                            Prefereed Language : @Model.Languagee
                        </li>
                        <li>DOB : @Model.DOB</li>
                    </ul>
                    <!-- end ul -->
                </div>
                <hr />
                <div class="pt-2">
                    <h4 class="card-title mb-4">My Skill</h4>
                    <div class="d-flex gap-2 flex-wrap">
                        <span class="badge badge-soft-secondary p-2">HTML</span>
                        <span class="badge badge-soft-secondary p-2">Bootstrap</span>
                        <span class="badge badge-soft-secondary p-2">Scss</span>
                        <span class="badge badge-soft-secondary p-2">Javascript</span>
                        <span class="badge badge-soft-secondary p-2">React</span>
                        <span class="badge badge-soft-secondary p-2">Angular</span>
                    </div>
                </div>
            </div>
            <!-- end cardbody -->
        </div>
        <!-- end card -->

        <div class="card">
            <div class="card-body">
                <div>
                    <h4 class="card-title mb-4">Connect With Me</h4>
                    <div class="table-responsive">
                        <div class="social-links d-flex">
                            <a href="@Model.Facebook" class="social-icon" target="_blank" style="margin-right:10px; color:black; font-size:20px;"><i class="fa-brands fa-facebook"></i></a>
                            <a href="@Model.LinkedIn" class="social-icon" target="_blank" style="margin-right:10px; color:black; font-size:20px"><i class="fa-brands fa-instagram"></i></a>
                            <a href="@Model.PortfolioLink" class="social-icon" target="_blank" style="margin-right:10px; color:black; font-size:20px"><i class="fa-solid fa-globe"></i></a>
                        </div>
                        <!-- end table -->
                    </div>
                </div>
            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->

        <div class="card">
            <div class="card-body">
                <div>
                    <h4 class="card-title mb-4">Work Experince</h4>
                    <ul class="list-unstyled work-activity mb-0">
                        <li class="work-item" data-date="2020-21">
                            <h6 class="lh-base mb-0">ABCD Company</h6>
                            <p class="font-size-13 mb-2">Web Designer</p>
                            <p>
                                To achieve this, it would be necessary to have uniform
                                grammar, and more common words.
                            </p>
                        </li>
                        <li class="work-item" data-date="2019-20">
                            <h6 class="lh-base mb-0">XYZ Company</h6>
                            <p class="font-size-13 mb-2">Graphic Designer</p>
                            <p class="mb-0">
                                It will be as simple as occidental in fact, it will be
                                Occidental person, it will seem like simplified.
                            </p>
                        </li>
                    </ul>
                    <!-- end ul -->
                </div>
            </div>
            <!-- end card-body -->
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->
</div>
<!-- end row -->

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const projectBtn = document.getElementById('projectBtn');
        const reviewsBtn = document.getElementById('reviewsBtn');
        const editProfileBtn = document.getElementById('editProfileBtn');

        const projectsTab = document.getElementById('projects');
        const reviewsTab = document.getElementById('reviews');
        const editProfileTab = document.getElementById('editProfile');

        projectBtn.addEventListener('click', function (e) {
            e.preventDefault();
            projectsTab.style.display = 'block';
            reviewsTab.style.display = 'none';
            editProfileTab.style.display = 'none';
        });

        reviewsBtn.addEventListener('click', function (e) {
            e.preventDefault();
            projectsTab.style.display = 'none';
            reviewsTab.style.display = 'block';
            editProfileTab.style.display = 'none';
        });

        editProfileBtn.addEventListener('click', function (e) {
            e.preventDefault();
            projectsTab.style.display = 'none';
            reviewsTab.style.display = 'none';
            editProfileTab.style.display = 'block';
        });
    });
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const customSelects = document.querySelectorAll(".custom-select");

        function updateSelectedOptions(customSelect) {
            const selectedOptions = Array.from(
                customSelect.querySelectorAll(".option.active")
            ).map(function (option) {
                return {
                    value: option.getAttribute("data-value"),
                    text: option.textContent.trim(),
                };
            });

            const selectedValues = selectedOptions.map(function (option) {
                return option.value;
            });

            customSelect.querySelector(".tags_input").value = selectedValues.join(", ");

            let tagsHTML = "";
            if (selectedOptions.length === 0) {
                tagsHTML = '<span class="placeholder">Select Skills</span>';
            } else {
                const maxTagsToShow = 4;
                let additionalTagsCount = 0;

                selectedOptions.forEach(function (option, index) {
                    if (index < maxTagsToShow) {
                        tagsHTML +=
                            '<span class="tags">' +
                            option.text +
                            '<span class="remove-tag" data-value="' +
                            option.value +
                            '">x</span></span>';
                    } else {
                        additionalTagsCount++;
                    }
                });

                if (additionalTagsCount > 0) {
                    tagsHTML += '<span class="tags">+' + additionalTagsCount + "</span>";
                }
            }

            customSelect.querySelector(".selected-options").innerHTML = tagsHTML;
        }

        customSelects.forEach(function (customSelect) {
            const searchInput = customSelect.querySelector(".search-tags");
            const optionsContainer = customSelect.querySelector(".options");
            const noResultMessage = customSelect.querySelector(".no-result-message");
            const options = customSelect.querySelectorAll(".option");
            const clearButton = customSelect.querySelector(".clear");

            clearButton.addEventListener("click", function () {
                searchInput.value = "";
                options.forEach(function (option) {
                    option.style.display = "block";
                });
                noResultMessage.style.display = "none";
            });

            searchInput.addEventListener("input", function () {
                const searchTerm = searchInput.value.toLowerCase();
                options.forEach(function (option) {
                    const optionText = option.textContent.trim().toLowerCase();
                    const shouldShow = optionText.includes(searchTerm);
                    option.style.display = shouldShow ? "block" : "none";
                });

                const anyOptionsMatch = Array.from(options).some(
                    (option) => option.style.display === "block"
                );
                noResultMessage.style.display = anyOptionsMatch ? "none" : "block";

                if (searchTerm) {
                    optionsContainer.classList.add("option-search-active");
                } else {
                    optionsContainer.classList.remove("option-search-active");
                }
            });

            options.forEach(function (option) {
                option.addEventListener("click", function () {
                    option.classList.toggle("active");
                    updateSelectedOptions(customSelect);
                });
            });
        });

        document.addEventListener("click", function (event) {
            const removeTag = event.target.closest(".remove-tag");
            if (removeTag) {
                const customSelect = removeTag.closest(".custom-select");
                const valueToRemove = removeTag.getAttribute("data-value");
                const optionToRemove = customSelect.querySelector(
                    ".option[data-value='" + valueToRemove + "']"
                );
                optionToRemove.classList.remove("active");

                updateSelectedOptions(customSelect);
            }
        });

        const selectBoxes = document.querySelectorAll(".select-box");
        selectBoxes.forEach(function (selectBox) {
            selectBox.addEventListener("click", function (event) {
                if (!event.target.closest(".tags")) {
                    selectBox.parentNode.classList.toggle("open");
                }
            });
        });

        document.addEventListener("click", function (event) {
            if (
                !event.target.closest(".custom-select") &&
                !event.target.classList.contains("remove-tag")
            ) {
                customSelects.forEach(function (customSelect) {
                    customSelect.classList.remove("open");
                });
            }
        });

        function resetCustomSelects() {
            customSelects.forEach(function (customSelect) {
                customSelect
                    .querySelectorAll(".option.active")
                    .forEach(function (option) {
                        option.classList.remove("active");
                    });
                updateSelectedOptions(customSelect);
            });
        }

        updateSelectedOptions(customSelects[0]);
    });
</script>

<script src="~/JS/Profile.js"></script>