
@{
    ViewBag.Title = Model.ProjectTitle;
    ViewBag.Subtitle = "Detailed Information";
}
@model ALlyHub.Models.Project


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="~/Content/ProjectDetails.css" />
<!-- Job Detail Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="row gy-5 gx-4">
            <div class="col-lg-8">
                <div class="d-flex align-items-center mb-5">
                    <div class="text-start jobHeading">
                        <h3 class="mb-3">@Model.ProjectTitle</h3>
                        <span class="text-truncate me-3"><i class="fa fa-map-marker-alt me-2"></i>@Model.ClientLocation</span>
                        <span class="text-truncate me-3"><i class="far fa-clock me-2"></i>@Model.Duration</span>
                        <span class="text-truncate me-0"><i class="far fa-money-bill-alt me-2"></i>@Model.PaymentAmount</span>
                    </div>
                </div>

                <div class="mb-5 description">
                    <h4 class="mb-3">Job Description</h4>
                    <p>@Model.Description</p>
                    <!----<h4 class="mb-3">Responsibility</h4>
                    <p>Magna et elitr diam sed lorem. Diam diam stet erat no est est. Accusam sed lorem stet voluptua sit sit at stet consetetur, takimata at diam kasd gubergren elitr dolor</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-angle-right text-primary me-2"></i>Dolor justo tempor duo ipsum accusam</li>
                        <li><i class="fa fa-angle-right text-primary me-2"></i>Elitr stet dolor vero clita labore gubergren</li>
                        <li><i class="fa fa-angle-right text-primary me-2"></i>Rebum vero dolores dolores elitr</li>
                        <li><i class="fa fa-angle-right text-primary me-2"></i>Est voluptua et sanctus at sanctus erat</li>
                        <li><i class="fa fa-angle-right text-primary me-2"></i>Diam diam stet erat no est est</li>
                    </ul>
                    <h4 class="mb-3">Qualifications</h4>
                    <p>Magna et elitr diam sed lorem. Diam diam stet erat no est est. Accusam sed lorem stet voluptua sit sit at stet consetetur, takimata at diam kasd gubergren elitr dolor</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-angle-right text-primary me-2"></i>Dolor justo tempor duo ipsum accusam</li>
                        <li><i class="fa fa-angle-right text-primary me-2"></i>Elitr stet dolor vero clita labore gubergren</li>
                        <li><i class="fa fa-angle-right text-primary me-2"></i>Rebum vero dolores dolores elitr</li>
                        <li><i class="fa fa-angle-right text-primary me-2"></i>Est voluptua et sanctus at sanctus erat</li>
                        <li><i class="fa fa-angle-right text-primary me-2"></i>Diam diam stet erat no est est</li>
                    </ul>--->
                </div>

                @if ((string)Session["UserType"] == "Client")
                {
                    if (Model.ClientID == (int)Session["clientID"]) // Check if the current user is the owner of the project
                    {
                        <a href="@Url.Action("ViewApplicants", "Home", new { projectId = Model.ProjectID })" class="btn btn-lg rounded-0 fs-6 viewApply" style="width:100%;">View Applicants</a>
                    }
                }
                else if ((string)Session["UserType"] == "Developer" || Session["userID"] == null) // If no user is logged in
                {
                    <div class="application">
                        <h4 class="mb-4">Apply For The Job</h4>
                        @using (Html.BeginForm("ApplyForJob", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(m => m.ProjectID)
                            // Display validation summary
                            @Html.ValidationSummary(true, "", new { @class = "text-success successMsg" })

                            <div class="row g-3">
                                <div class="col-12 col-sm-6">
                                    @Html.Label("Name" , new {@class = "form-label"})
                                    @Html.TextBoxFor(m => m.ApplicantsName, new { @class = "form-control", placeholder = "Your Name" })
                                </div>
                                <div class="col-12 col-sm-6">
                                    @Html.Label("Email", new { @class = "form-label" })
                                    @Html.TextBoxFor(m => m.ApplicantsEmail, new { @class = "form-control", placeholder = "Your Email", type = "email" })
                                </div>
                                <div class="col-12 col-sm-6">
                                    @Html.Label("Portfolio", new { @class = "form-label" })
                                    @Html.TextBoxFor(m => m.ApplicantsWebsite, new { @class = "form-control", placeholder = "Portfolio Website" })
                                </div>
                                <div class="col-12 col-sm-6">
                                    @Html.Label("Resume", new { @class = "form-label" })
                                    <input type="file" name="file" class="form-control bg-white" />
                                </div>
                                <div class="col-12">
                                    @Html.Label("Cover Letter", new { @class = "form-label" })
                                    @Html.TextAreaFor(m => m.ApplicantsCoverLetter, new { @class = "form-control", rows = 5, placeholder = "Cover letter" })
                                </div>
                                <div class="col-12">
                                    <button class="w-100 applyBtn" type="submit">Apply Now</button>
                                </div>
                            </div>
                        }
                    </div>
                }


            </div>


            <div class="col-lg-4">
                <div class="p-5 mb-4 wow slideInUp jobSummary" data-wow-delay="0.1s">
                    <h4 class="mb-4">Job Summery</h4>
                    <p><i class="fa fa-angle-right text-primary me-2"></i>Published On: @Model.PostedOn</p>
                    <p><i class="fa fa-angle-right text-primary me-2"></i>Expertise Level: @Model.ExpertiseLevel</p>
                    <p><i class="fa fa-angle-right text-primary me-2"></i>Job Nature: @Model.JobNature</p>
                    <p><i class="fa fa-angle-right text-primary me-2"></i>Payment: $@Model.PaymentAmount</p>
                </div>
                <div class="p-5 wow slideInUp companyDetail" data-wow-delay="0.1s">
                    <h4 class="mb-4">Company Detail</h4>
                    <h5 class="mb-3">@Model.CompanyName</h5>
                    <p>Company Description : <br /> @Model.ClientDescription</p>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Job Detail End -->