@{
    ViewBag.Title = "Search Results";
    var users = ViewBag.SearchUserResults as List<ALlyHub.Models.Search>;
    var projects = ViewBag.SearchProjectResults as List<ALlyHub.Models.Search>;
}

<link rel="stylesheet" href="~/Content/FintTalent.css" />
<link rel="stylesheet" href="~/Content/FindProjects.css" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<!-- Users Section -->

<div class="content">
    <div class="container">
        <!-- Search Results Row -->
        <div class="row">
            <h2 class="text-center" style="color: #003C43; font-family: 'Kanit', sans-serif ">Search Result</h2>
            @if (users != null && users.Count > 0)
            {
                foreach (var findTalent in users)
                {
                    <div class="col-lg-4">
                        <div class="text-center card-box">
                            <div class="member-card pt-2 pb-2">
                                <div class="thumb-lg member-thumb mx-auto">
                                    <img src="~/Images/@findTalent.UserPhoto" class="rounded-circle img-thumbnail" alt="profile-image">
                                </div>
                                <div class="">
                                    <h4>@findTalent.FirstName @findTalent.LastName</h4>
                                    <p class="text-muted"><strong>Area of Expertise:</strong> @findTalent.AreaofExpertise</p>
                                    <p class="text-muted"><strong>Email:</strong> @findTalent.UserEmail</p><!-- Display UserType -->
                                </div>
                                @if (findTalent.UserType == "Developer")
                                {
                                    <a href="@Url.Action("TalentDetailsFromSearch", "Home", new { UserId = findTalent.UserId })" class="btn mt-3 btn-rounded waves-effect w-md waves-light">
                                        View Profile
                                    </a>
                                }
                                else
                                {
                                    <a href="@Url.Action("ClientDetailsFromSearch", "Home", new { UserId = findTalent.UserId })" class="btn mt-3 btn-rounded waves-effect w-md waves-light">
                                        View Profile
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                if (projects != null && projects.Count > 0)
                {


                    <div class="row">
                        @foreach (var project in projects)
                        {
                            <div class="single-post">
                                <div class="details">
                                    <div class="title d-flex flex-row justify-content-between">
                                        <div class="titles">
                                            <a href="@Url.Action("ProjectDetails", "Home", new { projectId = project.ProjectID })"><h4>@project.ProjectTitle</h4></a>
                                            <h6>Posted On : @project.PostedOn</h6>
                                        </div>
                                    </div>
                                    <p>
                                        @project.ShortDescription <!-- Display project description -->
                                    </p>
                                    <h5>Job Nature: Full time</h5>
                                    <div class="details2">
                                        <p class="address" style="margin-right:20px;"><i class="fa-solid fa-location-dot"></i> Your Address</p>
                                        <p class="address"><i class="fa-regular fa-money-bill-1"></i> @project.PaymentAmount</p>
                                    </div>
                                    <!-- Display payment amount -->
                                </div>
                                
                            </div>

                        }
                    </div>
                }
            }
        </div>
        <!-- end row -->
    </div>
    <!-- container -->
</div>

<!-- Projects Section -->
