
@{
    ViewBag.Title = Model.FirstName;
    ViewBag.Subtitle = "Details";
}
@model ALlyHub.Models.FindTalentModel

<link rel="stylesheet" href="~/Content/Profile.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/7.2.96/css/materialdesignicons.min.css" integrity="sha512-LX0YV/MWBEn2dwXCYgQHrpa9HJkwB+S+bnBpifSOTO1No27TqNMKYoAn6ff2FBh03THAzAiiCwQ+aPX+/Qt/Ow==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />


<div class="row">
    <div class="col-xl-8">
        <div class="card">
            <div class="card-body pb-0">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <div class="text-center border-end">
                            <img src="~/Images/@Model.UserPhoto"
                                 class="img-fluid avatar-xxl rounded-circle" alt="" />
                            <h4 class="name">
                                @Model.FirstName @Model.LastName
                            </h4>
                            <h5 class="text-muted designation">@Model.AreaofExpertise</h5>
                        </div>
                    </div>
                    <!-- end col -->
                    <div class="col-md-9">
                        <div class="ms-3">
                            <div>
                                <h4 class="card-title mb-2">Biography</h4>
                                <p class="paragraph mb-0" style="font-family: 'Kanit', sans-serif; font-weight:300">
                                    @Model.DevDescription
                                </p>
                            </div>
                            <div class="row my-4">
                                <div class="col-md-12">
                                    <div>
                                        <p class="paragraph mb-2" style="font-family: 'Kanit', sans-serif; font-weight:300">
                                            <i class="mdi mdi-email-outline me-2" style="color: #135D66"></i>@Model.UserEmail
                                        </p>
                                        <p class="paragraph mb-0" style="font-family: 'Kanit', sans-serif; font-weight:300">
                                            <i class="mdi mdi-phone-in-talk-outline me-2" style="color: #135D66"></i>@Model.UserPhone
                                        </p>
                                    </div>
                                </div>
                                <!-- end col -->
                            </div>
                            <!-- end row -->

                            <ul class="nav nav-tabs nav-tabs-custom border-bottom-0 mt-3 nav-justfied" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link px-4" id="projectBtn" href="">
                                        <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                                        <span class="d-none d-sm-block">Projects</span>
                                    </a>
                                </li>
                                <!-- end li -->
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link px-4" id="reviewsBtn" href="">
                                        <span class="d-block d-sm-none"><i class="mdi mdi-menu-open"></i></span>
                                        <span class="d-none d-sm-block">Reviews</span>
                                    </a>
                                </li>
                                <!-- end li -->
                            </ul>
                            <!-- end ul -->
                        </div>
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->

        <div class="card hideTab" id="projects">
            <div class="tab-content p-4">
                <div class="tab-pane active" id="team-tab">
                    <h4 class="card-title mb-4">On Going Projects</h4>
                    <div class="row">
                        @if (Model.Projects != null && Model.Projects.Any())
                        {
                            foreach (var project in Model.Projects)
                            {
                                <div class="col-xl-4 col-md-6">
                                    <div class="card projectCard">
                                        <div class="card-body">
                                            <div class="d-flex mb-4">
                                                <div class="flex-grow-1 align-items-start">
                                                    <a class="card-title" style="font-size:22px;" href="@Url.Action("ProjectDetails", "Home", new { projectId = project.ProjectID })">@project.ProjectTitle</a>
                                                </div>
                                            </div>
                                            <div>
                                                <p class="mb-1 font-size-10">@project.Status</p>
                                                <p class="mb-1 font-size-10">@project.HandshakeDate</p>

                                                <p class="text-muted font-size-13 mb-0">@project.Duration</p>
                                            </div>
                                        </div>
                                        <!-- end card-body -->
                                    </div>
                                    <!-- end card -->
                                </div>
                                <!-- end col -->
                            }
                        }
                        else
                        {
                            <p>No projects posted yet.</p>
                        }
                    </div>
                    <!-- end row -->
                </div>
                <!-- end tab pane -->
            </div>
        </div>
        <!-- end card -->
        <div class="card hideTab" id="reviews">
            <div class="tab-content p-4">
                <div class="tab-pane active" id="team-tab">
                    <h4 class="card-title mb-4">Reviews</h4>
                    <div class="row">
                        @if (Model.Reviews != null && Model.Reviews.Any())
                        {
                            foreach (var review in Model.Reviews)
                            {
                                <div class="col-xl-4 col-md-6">
                                    <div class="card projectCard">
                                        <div class="card-body">
                                            <div class="d-flex mb-4">
                                                <div class="flex-grow-1 align-items-start">
                                                    <a class="card-title" style="font-size:22px;" href="#">@review.ReviewerFName @review.ReviewerLName</a>
                                                </div>
                                            </div>
                                            <div>
                                                <p class="mb-1 font-size-10">@review.ReviewText</p>
                                                <p class="mb-1 font-size-10">@review.ReviewDate</p>
                                            </div>
                                        </div>
                                        <!-- end card-body -->
                                    </div>
                                    <!-- end card -->
                                </div>
                                <!-- end col -->
                            }
                        }
                        else
                        {
                            <p>No Reviews yet.</p>
                        }
                    </div>
                    <!-- end row -->
                </div>
                <!-- end tab pane -->
            </div>
        </div>
        <!-- end col -->
    </div>
    <div class="col-xl-4">
        <div class="card">
            <div class="card-body">
                <div class="pb-2">
                    <h4 class="card-title mb-3">Personal Info</h4>
                    <p style="font-family: 'Kanit', sans-serif; font-weight:300">

                    </p>
                    <ul class="ps-3 mb-0" style="font-family: 'Kanit', sans-serif; font-weight:300">
                        <li>Country : @Model.Country</li>
                        <li>Location : @Model.UserAddress</li>
                        <li>
                            Prefereed Language : @Model.Languagee
                        </li>
                        <li>DOB : @Model.DOB</li>
                    </ul>
                    <!-- end ul -->
                </div>
                <hr />
                <div class="pt-2">
                    <h4 class="card-title mb-4">My Skill</h4>
                    <div class="d-flex gap-2 flex-wrap" style="font-family: 'Kanit', sans-serif; font-weight:200">
                        <span class="badge badge-soft-secondary p-2">HTML</span>
                        <span class="badge badge-soft-secondary p-2">Bootstrap</span>
                        <span class="badge badge-soft-secondary p-2">Scss</span>
                        <span class="badge badge-soft-secondary p-2">Javascript</span>
                        <span class="badge badge-soft-secondary p-2">React</span>
                        <span class="badge badge-soft-secondary p-2">Angular</span>
                    </div>
                </div>
            </div>
            <!-- end cardbody -->
        </div>
        <!-- end card -->

        <div class="card">
            <div class="card-body">
                <div>
                    <h4 class="card-title mb-4">Connect With Me</h4>
                    <div class="table-responsive">
                        <div class="social-links d-flex">
                            <a href="@Model.Facebook" class="social-icon" target="_blank" style="margin-right:10px; color:black; font-size:20px;"><i class="fa-brands fa-facebook"></i></a>
                            <a href="@Model.LinkedIn" class="social-icon" target="_blank" style="margin-right:10px; color:black; font-size:20px"><i class="fa-brands fa-instagram"></i></a>
                            <a href="@Model.PortfolioLink" class="social-icon" target="_blank" style="margin-right:10px; color:black; font-size:20px"><i class="fa-solid fa-globe"></i></a>
                        </div>
                        <!-- end table -->
                    </div>
                </div>
            </div>
            <!-- end card body -->
        </div>
        <!-- end card -->

        <div class="card">
            <div class="card-body">
                <div>
                    <h4 class="card-title mb-4">Work Experince</h4>
                    <ul class="list-unstyled work-activity mb-0">
                        @if (Model.Experiences != null && Model.Experiences.Any())
                        {
                            foreach (var workexperience in Model.Experiences)
                            {
                                <li class="work-item">
                                    <div class="experienceHead">
                                        <div>
                                            <h6 class="lh-base mb-0">@workexperience.CompanyName</h6>
                                        </div>
                                        
                                    </div>

                                    <p class="font-size-13 mb-2">@workexperience.Position</p>
                                    <p class="font-size-13 mb-2">@workexperience.StartDate -> @workexperience.EndDate</p>
                                    <p>
                                        @workexperience.JobDescription
                                    </p>
                                    <div class="modal-box" data-id="1">
                                        <i class="fa-solid fa-x close-btn" data-id="1"></i>
                                        <h3>Update Experience</h3>
                                        @using (Html.BeginForm("", "Home", FormMethod.Post, new { @class = "form-horizontal mt-2" }))
                                        {
                                            <div class="row">
                                                <div class="col-md-6 mt-1">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <div class="input-group-text">
                                                                <i class="fa-solid fa-building" style="font-size: 20px; padding: 5px;"></i>
                                                            </div>
                                                        </div>
                                                        @Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control", required = "required", placeholder = workexperience.Company })
                                                    </div>
                                                </div>
                                                <div class="col-md-6 mt-2">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <div class="input-group-text">
                                                                <i class="fa-solid fa-briefcase" style="font-size: 20px; padding: 5px;"></i>
                                                            </div>
                                                        </div>
                                                        @Html.TextBoxFor(m => m.Position, new { @class = "form-control", required = "required", placeholder = "Designation" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mt-3">
                                                <div class="col-md-6 mt-2">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <div class="input-group-text">
                                                                <i class="fa-solid fa-calendar-days" style="font-size: 20px; padding: 5px;"></i>
                                                            </div>
                                                        </div>
                                                        @Html.TextBoxFor(m => m.StartDate, new { @class = "form-control", type = "date", required = "required", placeholder = "Linkedin Url" })

                                                    </div>
                                                </div>
                                                <div class="col-md-6 mt-2">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <div class="input-group-text">
                                                                <i class="fa-solid fa-calendar-days" style="font-size: 20px; padding: 5px;"></i>
                                                            </div>
                                                        </div>
                                                        @Html.TextBoxFor(m => m.EndDate, new { @class = "form-control", type = "date", required = "required", placeholder = "Linkedin Url", id = "endingYear" })

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mt-3">
                                                <div class="col-12">
                                                    <input type="checkbox" id="currentlyWorking" />
                                                    <label for="currentlyWorking">Currently working here</label>
                                                </div>
                                            </div>
                                            @Html.TextAreaFor(m => m.JobDescription, 8, 80, new { @class = "form-control mt-3 mb-3", required = "required", placeholder = "Enter Your Job Description" })

                                            <div class="row mt-3 mb-3">
                                                <div class="col">
                                                    <button type="submit" class="btn btn-lg rounded-0 fs-6 logBtn" style="width: 100%;">Update</button>
                                                </div>
                                            </div>
                                        }

                                    </div>
                                </li>
                            }
                        }
                    </ul>
                    <!-- end ul -->
                </div>
            </div>
            <!-- end card-body -->
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->
    <!-- end row -->
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const projectBtn = document.getElementById('projectBtn');
        const reviewsBtn = document.getElementById('reviewsBtn');
        const editProfileBtn = document.getElementById('editProfileBtn');

        const projectsTab = document.getElementById('projects');
        const reviewsTab = document.getElementById('reviews');
        const editProfileTab = document.getElementById('editProfile');

        projectBtn.addEventListener('click', function (e) {
            e.preventDefault();
            projectsTab.style.display = 'block';
            reviewsTab.style.display = 'none';
            editProfileTab.style.display = 'none';
        });

        reviewsBtn.addEventListener('click', function (e) {
            e.preventDefault();
            projectsTab.style.display = 'none';
            reviewsTab.style.display = 'block';
            editProfileTab.style.display = 'none';
        });

        editProfileBtn.addEventListener('click', function (e) {
            e.preventDefault();
            projectsTab.style.display = 'none';
            reviewsTab.style.display = 'none';
            editProfileTab.style.display = 'block';
        });
    });
</script>

<script src="~/JS/Profile.js"></script>


